.digitFocusedIsNumber{
    border: 1px solid rgba(81, 238, 99,1);
    box-shadow: 0 0 5px rgba(81, 238, 99,1);
}
.digitFocusedIsNotNumber{
    border: 1px solid rgba(238, 81, 81,1);
    box-shadow: 0 0 5px rgba(238, 81, 81,1);
}
.digitFocusedIsBlank{
    border: 2px solid rgb(13, 35, 105)
}
.paper{
    width:600px;
    margin: 0 auto;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding: 2.5rem;
    border-radius: 5px;
}
.submitBtn{
    width: 50%;
    height: 50px;
    margin-top: 25px;
    font-size: 1.3rem!important;
    text-transform: uppercase;
}
.btn-success-1{
    background: rgba(81, 238, 99,1);
    font-weight: "bold";
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mt{
    margin-top:10%;
}
.error{
    border: 1px solid rgba(238, 81, 81,1) !important;
}
.validation{
    color: rgba(81, 238, 99,1);
    border: 1px solid rgba(81, 238, 99,1);
    box-shadow: 0 0 5px rgba(81, 238, 99,1);
}


.codeBoxWrapper{
    width : 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.codeBox { 
    /* minWidth:"20%", */
    border-width:2px;
    border-radius: 5%;
    padding: 1rem;
}
.codeBoxInput { 
    width:60px;
    border-radius:10%;
    font-size: 2rem;
    font-weight: "bold";
    text-align: center;
}

.hiddenTextInput {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
}