.digitFocusedIsNumber{
    border: 1px solid rgba(81, 238, 99,1);
    box-shadow: 0 0 5px rgba(81, 238, 99,1);
}
.digitFocusedIsNotNumber{
    border: 1px solid rgba(238, 81, 81,1);
    box-shadow: 0 0 5px rgba(238, 81, 81,1);
}
.digitFocusedIsBlank{
    border: 2px solid rgb(13, 35, 105)
}
.paper{
    width:600px;
    margin: 10% auto;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding: 2.5rem;
    border-radius: 5px;
}
.submitBtn{
    width: 50%;
    height: 50px;
    margin-top: 25px;
    font-size: 1.3rem!important;
    text-transform: uppercase;
}
 
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}